[Desktop Entry]
Type=Application
Name=Ishtaria
Comment=Federated virtual planet
Exec=ishtaria-client
Icon=ishtaria-client
Terminal=false
Categories=Game;Simulation;
